body {
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: "Kanit", sans-serif;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.background-login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./assets/background-1.jpg") no-repeat center center/cover;
  filter: blur(8px);
  z-index: -1;
}

.logo-box {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 50px;
  align-items: center;
}

#logo-telu-parking {
  width: 200px;
  height: 200px;
}

#logo-telu {
  height: ;
}

.devider {
  width: 2px;
  height: 150px;
  background: #ffeeee;
  border-radius: 30px;
}

.login-box {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 40px;
  border-radius: 10px;
  width: 90%;
  max-width: 360px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
  justify-content: center;
}

.login-box h1 {
  font-family: "K2D", sans-serif;
  font-size: 30px;
  margin-bottom: 10px;
}

.login-box p {
  font-size: 14px;
  margin-bottom: 30px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

input {
  padding: 10px;
  border: 1px solid #bb8989;
  border-radius: 8px;
  font-family: "Roboto", sans-serif;
}

button {
  padding: 12px;
  background-color: #2d5aec;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
}

button:hover {
  background-color: #6286fa;
}

.password-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.password-wrapper input {
  width: 100%;
  padding: 10px;
  padding-right: 45px; /* beri ruang untuk ikon */
  border: 1px solid #bb8989;
  border-radius: 8px;
  font-family: "Roboto", sans-serif;
  background-color: white; /* beri ruang untuk ikon */
}

.password-wrapper .material-symbols-outlined {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #c9c9c9; /* warna default */
  background-color: white; /* background sama dengan input */
  padding: 2px;
  border-radius: 2px;
  transition: color 0.3s ease;
  user-select: none;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.password-wrapper .material-symbols-outlined:hover {
  opacity: 0.8;
}

.password-wrapper .material-symbols-outlined.active {
  color: #800000; /* warna merah ketika aktif */
}

.password-wrapper img:hover {
  opacity: 1;
}
